---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-meta">
    Article
    {% assign authorCount = page.authors | size %}
    {% if authorCount >= 1 %}
      rédigé par 
      {% if authorCount == 1 %}
        {% assign author = page.authors | first %}
        {{ site.data.authors[author].name }}
      {% else %}
        {% for author in page.authors %}
            {% if forloop.first %}
                {{ site.data.authors[author].name }}
            {% elsif forloop.last %}
                et {{ site.data.authors[author].name }}
            {% else %}
                , {{ site.data.authors[author].name }}
            {% endif %}
        {% endfor %}
      {% endif %}
    {% endif %}
    
    le
    {% assign dy = page.date | date: "%a" %}
    {% case dy %}
      {% when "Mon" %}Lundi
      {% when "Tue" %}Mardi
      {% when "Wed" %}Mercredi
      {% when "Thu" %}Jeudi
      {% when "Fri" %}Vendredi
      {% when "Sat" %}Samedi
      {% when "Sun" %}Dimanche
    {% endcase %}
    {{ page.date | date: '%d' }} {% assign m = page.date | date: "%-m" %}
    {% case m %}
      {% when '1' %}Janvier
      {% when '2' %}Février
      {% when '3' %}Mars
      {% when '4' %}Avril
      {% when '5' %}Mai
      {% when '6' %}Juin
      {% when '7' %}Juillet
      {% when '8' %}Août
      {% when '9' %}Septembre
      {% when '10' %}Octobre
      {% when '11' %}Novembre
      {% when '12' %}Décembre
    {% endcase %}
    {{ page.date | date: '%Y' }}
  </span>
  
  {{ content }}
</div>

<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
